<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
</head>
<body>

<div>
    <h1>Users</h1>
    <button onclick="window.location.href = '/users/new';">Add new user</button>
    <br />
    <br />
    <a th:href="@{/users/edit(id=1)}">Test</a>
    <table border = 1px solid black; style='border-collapse:collapse; width:70%; padding:10px; text-align: center; vertical-align: middle;'>
        <thead style='background-color: lightblue; color: white; padding: 10px;'>
            <th>Id</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Role</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.role}"></td>
                <td><a th:href="@{'/users/edit?' + ${user.id}}">Edit</a> <a th:href="@{'/users/delete?' + ${user.id}}">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>